body {
	margin: 0px;
	font-family: monospace;
	color: white;
}

.cell {
	width: 5px;
	height: 5px;
}

#debug {
	position: fixed;
	top: 10px;
	right: 10px;
}

.drop_down_list {
	position: absolute;
	color: black;
	background-color: white;
	display: none;
}

.drop_down_list_element:hover {
	background-color: gray;
}

.drop_down_list_item:hover {
	background-color: gray;
}
